<h1>
Book List
</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Author</th>
    <th>Title</th>
    <th>Description</th>
    <th>Publish date</th>
    <th></th>
  </tr>

  <% @books.each do |book| %>
    <tr>
      <th><%= book.id %></th>
      <th><%= book.author %></th>
      <th><%= book.title %></th>
      <th><%= book.description %></th>
      <th><%= book.publish_date %></th>
      <th><%= link_to 'Edit', "/books/#{book.id}/edit" %></th>
    </tr>
  <% end %>

</table>
