<h1>
Book List
</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Category</th>
    <th>Author</th>
    <th>Title</th>
    <th>Description</th>
    <th>Publish date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @books.each do |book| %>
    <tr>
      <td><%= book.id %></td>
      <td><%= book.category.try(:name) %></td>
      <td><%= book.author %></td>
      <td><%= book.title %></td>
      <td><%= book.description %></td>
      <td><%= book.publish_date %></td>
      <td><%= link_to 'Show', "/books/#{book.id}" %></td>
      <td><%= link_to 'Edit', "/books/#{book.id}/edit" %></td>
      <td><%= link_to 'Delete', "/books/#{book.id}", :method => 'delete' %></td>
    </tr>
  <% end %>

</table>
