<h1>
  Show Book
</h1>

<b>Author:</b>
<p><%= @book.author %></p>

<b>Title:</b>
<p><%= @book.title %></p>

<b>Description:</b>
<p><%= @book.description %></p>

<b>Publish date:</b>
<p><%= @book.publish_date %></p>

<%= link_to 'Back to Book List', books_path %>
